.toggle-theme {
    width: 125px;
    max-width: 320px;
    height: 40px;
    border: 0;
    border-radius: 8px;
    color: #fff;
    background-color: #999;
    font-weight: 500;
    cursor: pointer;
}