#page-not-found {
    &.dark {
        background: #333;
        color: #fff;
    }

    header {
        padding: 1.5rem;
        border-bottom: 1px solid #e2e2e2;

        .content {
            max-width: 70rem;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >img {
                max-height: 2.8rem;
            }

            >div {
                display: flex;
                gap: 1rem;

                button {
                    height: 2.5rem;
                }
            }
        }
    }

    main {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}